@model IEnumerable<SellDeer.DataModel.Category>
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/AdminLayout/_LayoutOwner.cshtml";
}

<script>

    $(document).ready(function () {
        getCateg();

        $("#ddlCategForSearch").on("change", function () {
            getCateg();
        });

        function getCateg() {
            debugger;
            var cat_val = document.getElementById("ddlCategForSearch").selectedOptions[0].value;
            $.ajax(
            {
                url: '@Url.Action("/getSubcategoryByCategory")',
                type: 'GET',
                data: { catgId: cat_val },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var htm = "<tr><th>Subcategory name</th><th>Edit</th><th>Delete</th></tr>";
                    data.forEach((item) => {
                        var line = "" + item.id + ",&quot;" + item.sub_cat_name + "&quot;," + item.cat_id;
                        htm += "<tr><td>" + item.sub_cat_name + "</td><td> <a href='#' onclick='editCatg(" + line + ")' >Edit</a> </td><td><a href='/OwnerPanel/deleteSubcategory?subId=''" + item.id + "'>Delete</a></td></tr>";
                    })
                    var ddl = document.getElementById("tbsucatg");
                    ddl.innerHTML = htm;
                    return ("done");
                },
                error: function (data) {
                    return("error");
                }
            });
        }
    });
</script>
<h2>Subcategory</h2>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="post" action="SubCategory" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="txtCategoryName">Category</label>
                            <select id="ddlCategForAdd" name="ddlCategForAdd" >
                                @foreach (var item in ViewBag.catg)
                                {
                                    <option value="@item.id">@item.cat_name</option>
                                }
                               
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtSubcategoryName">Subcategory name</label>
                            <input type="text" class="form-control" id="txtSubcategoryName" name="txtSubcategoryName" placeholder="Enter Category" required>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
               
                <!--start Edit -->
                @Html.Partial("PartialView/_SubcategoryEdit")
               
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Subcategory</h3>
                                <div class="box-tools">
                                    <div class="input-group">
                                        <select id="ddlCategForSearch" name="ddlCategForSearch" class="form-control input-sm pull-right" style="width: 150px;">
                                            @foreach (var item in ViewBag.catg)
                                            {
                                                <option value="@item.id">@item.cat_name</option>
                                            }

                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">

                                <table id="tbsucatg" class="table table-hover">
                                    <tr>
                                        <th>Subcategory name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                   
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div>
    </div>
</section>
<script>
    function editCatg(id, subcatg, categ) {
        debugger;
        document.getElementById("subId").value = id;
        document.getElementById("divEditCateg").style.display = "block";
        document.getElementById("ddlCategForEdit").value = categ;
        
        document.getElementById("editSubcategoryName").value = subcatg;
    }

    function cancelEdit(){
        document.getElementById("divEditCateg").style.display = "none";
    }
        
</script>




